<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
  <meta charset="UTF-8">
  <title>21 Cineplux</title>
  <object th:include="fragments/fragment :: css" th:remove="tag"></object>
  <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="container">
  <div class="card m-4 p-4">
    <div class="card-body">
      <div class="justify-content-center">
        <h2>Ubah Password</h2>
        <p>*Kriteria:</p>
        <p>- password user mengandung angka, huruf besar, huruf kecil, dan simbol serta minimal memiliki 8 karakter</p>
        <p>- password sekarang harus cocok dengan old password</p>
        <p>- password baru harus dikonfirmasi sesuai dengan password baru konfirmasi</p>
        <br>
        <form th:action="@{/user/changePassword}" th:object="${user}" method="POST">
          <input type="hidden" th:field="*{role}" />
          <input type="hidden" th:field="*{id}" />
          <input type="hidden" th:field="*{email}" />
          <input type="hidden" th:field="*{nama}" />
          <input type="hidden" th:field="*{username}" />
          <input type="hidden" th:field="*{password}" />

          Password Lama : <br>
          <input required class="form-control" type="password" name="oldPassword"/>
          <br>

          Password Baru : <br>
          <input required class="form-control" type="password" name="newPassword" minlength="8"/>
          <br>

          Konfirmasi Password Baru : <br>
          <input required class="form-control" type="password" name="confirmedNewPassword" minlength="8"/>
          <br>

          <button class="btn btn-primary" type="submit">Simpan</button>
          <a class="btn btn-primary" href="/">Kembali</a>
        </form>
      </div>
    </div>
  </div>
</div>

</body>

</html>